<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aianalysis.analysisresult.mapper.AnalysisResultMapper">

	<select id="selectEmailByReqNo" resultType="String" >
		SELECT mem_id FROM AI_RQST WHERE req_no=#{reqNo};
	</select>

    <!-- Create -->
    <insert id="insertAnlsRslt" parameterType="com.aianalysis.analysisresult.model.AnalysisResultVO">
        INSERT INTO AI_ANLS_RSLT (req_no, email, anls_rslt, anls_rslt_ymd, eml_trsm_yn, eml_trsm_ymd)
        VALUES (#{reqNo}, #{email}, #{anlsRslt}, #{anlsRsltYmd}, #{emlTrsmYn}, #{emlTrsmYmd});
    </insert>

    <!-- Read -->
    <select id="selectAnlsRsltByEmail" parameterType="String" resultType="com.aianalysis.analysisresult.model.AnalysisResultVO">
        SELECT * FROM AI_ANLS_RSLT WHERE email = #{email};
    </select>

    <select id="selectAnlsRsltByReqNo" parameterType="int" resultType="com.aianalysis.analysisresult.model.AnalysisResultVO">
        SELECT * FROM AI_ANLS_RSLT WHERE req_no = #{reqNo};
    </select>

    <select id="selectEmailTransmissionStatus" parameterType="int" resultType="boolean">
        SELECT eml_trsm_yn FROM AI_ANLS_RSLT WHERE anls_rslt_no = #{anlsRsltNo};
    </select>
    
<!--    <select id="isAnlsRsltByReqNo" parameterType="int" returnType="boolean">
    	SELECT anls_rslt_no FROM AI_ANLS_RSLT WHERE req_no = #{reqNo};
    </select>-->
    
    <update id="updateEmailTransmissionStatus">
        UPDATE AI_ANLS_RSLT
        SET 
            eml_trsm_yn = TRUE,
            eml_trsm_ymd = #{currentTime}
        WHERE 
            anls_rslt_no = #{anlsRsltNo};
    </update>

    <!-- Update -->
    <update id="updateAnlsRslt" parameterType="com.aianalysis.analysisresult.model.AnalysisResultVO">
        UPDATE AI_ANLS_RSLT
        SET req_no = #{reqNo},
            email = #{email},
            anls_rslt = #{anlsRslt},
            anls_rslt_ymd = #{anlsRsltYmd},
            eml_trsm_yn = #{emlTrsmYn},
            eml_trsm_ymd = #{emlTrsmYmd}
        WHERE anls_rslt_no = #{anlsRsltNo};
    </update>

    <!-- Delete -->
    <delete id="deleteAnlsRsltByAnlsReqNo" parameterType="int">
        DELETE FROM AI_ANLS_RSLT WHERE req_no = #{reqNo};
    </delete>

</mapper>
