<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aianalysis.requirement.mapper.RequirementMapper">

	<!-- 요청사항 등록 -->	
	<insert id="insertRequirement" parameterType="com.aianalysis.requirement.model.RequirementVO">
	    INSERT INTO AI_RQST (TITLE, CONTENT, MEM_ID, STATUS, FILE_TITLE, REG_DT)
	    VALUES (#{title}, #{content}, #{memId}, '대기중', #{fileTitle}, NOW())
	</insert>


    <!-- 요청사항 수정 (관리자가) -->
    <update id="updateRequirement" parameterType="com.aianalysis.requirement.model.RequirementVO">
	    UPDATE AI_RQST
	    SET 
	        TITLE = #{title}, 
	        CONTENT = #{content}, 
	        STATUS = #{status}, 
	        FILE_TITLE = #{fileTitle}, 
	        UPT_DATE = NOW()
	    WHERE MEM_ID = #{memId} 
	    AND REQ_NO = #{reqNo}
	</update>
	<!-- 요청사항 수정 (관리자가) -->
	<delete id="deleteRequirement" parameterType="com.aianalysis.requirement.model.RequirementVO">
		DELETE FROM AI_RQST WHERE REQ_NO = #{reqNo}
	</delete>
	
	<!-- 관리자가 모든 요청사항 열람 -->
	<select id="selectAllRequirements" parameterType="com.aianalysis.requirement.model.RequirementVO">
	    SELECT * FROM AI_RQST ORDER BY reg_dt DESC, req_no DESC
	</select>
	<!-- 관리자가 수정을 위해 특정 요청사항 열람(View) -->
	<select id="selectForUpdate" parameterType="com.aianalysis.requirement.model.RequirementVO">
	    SELECT * FROM AI_RQST WHERE REQ_NO = #{reqNo}
	</select>
	
	<!-- 요청을 신청한 신청자가 본인의 요청사항 열람 -->
	<select id="selectRequirements" parameterType="com.aianalysis.requirement.model.RequirementVO">
	    SELECT * FROM AI_RQST WHERE MEM_ID = #{memId} ORDER BY reg_dt DESC, req_no DESC
	</select>
	
	<!-- 요청을 신청한 신청자가 본인의 요청사항 열람 -->
	<select id="selectRequirement" parameterType="com.aianalysis.requirement.model.RequirementVO">
	    SELECT * FROM AI_RQST WHERE REQ_NO = #{reqNo} ORDER BY reg_dt DESC, req_no DESC
	</select>

</mapper>